*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
com_crashlytics_export_strings.xml
.signing/
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
app/src/main/java/tech/ankainn/edanapplication/Dumper.java